
<br><br>

{% if not request.user.is_authenticated %}
You need to <a href="{% url 'account_login' %}">login</a> to add content<br><br>
{% else %} 
Hi {{ request.user.username }}! Click <a href="{% url 'account_logout' %}">here</a> to logout<br><br>
{% endif %}
<br><br>

<a href="{% url 'base:index' %}">Home</a><br><br>
<a href="{% url 'base:listmusician' %}">Artists</a><br><br>
<a href="{% url 'base:listreviewer' %}">Reviewers</a><br><br>
<a href="{% url 'base:listmusic' %}">Music</a><br><br>
<a href="{% url 'base:listreview' %}">Reviews</a><br><br>
<br><br>

{% if request.user.is_authenticated %}
<a href="{% url 'base:createmusician' %}">Register Artist</a><br><br>
<a href="{% url 'base:createreviewer' %}">Register Reviewer</a><br><br>
<a href="{% url 'base:createmusic' %}">Add Music</a><br><br>
<a href="{% url 'base:createreview' %}">Add Review</a><br><br>
{% endif %}
